spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: hub
              uri: lb://hub
              predicates:
                - Path=/v1/hubs/**
              filters:
                - StripPrefix=0

            - id: hubroute
              uri: lb://hubroute
              predicates:
                - Path=/v1/hub-routes/**
              filters:
                - StripPrefix=0

            - id: user
              uri: lb://user
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=0
          discovery:
            locator:
              enabled: true

server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/
