spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user
          uri: http://localhost:19092/
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: order
          uri: http://localhost:20060/
          predicates:
            - Path=/v1/orders/**
      discovery:
        locator:
          enabled: true  # Eureka에 등록된 다른 서비스도 자동 라우팅
server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/
