spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user
              uri: http://localhost:19092/
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1
            - id: order
              uri: http://localhost:20060/
              predicates:
                - Path=/orders/**
          discovery:
            locator:
              enabled: true

server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka/
